@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary:#fdf0d5;
  --color-secondary:#d4a373;
  --color-accent:#d4a373;
  --color-dark-cyan:#008b8b;
  --font-montserrat:"Montserrat", sans-serif;
}